.groupBox{
    background-color: #fefefe;
}

.groupBox_notification{
    background-color: #ffa9a9;
}

#allbox{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: #0005;
}

.menubox
{
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.centerbox
{
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 450px;
    height: 450px;
    background-color: #fffffff0;
    box-shadow: 2px 2px 2px #888888;
    border-radius: 18px;
}

#statusbar{
    height:50px;
    margin: 5px;
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
    box-shadow: #777 1px 1px 2px;
}

.dmsg{
    color: black;
    display: inline-block;
}

.avtholder{
    height:32px;
    width:32px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: top;
}

.avtholder_{
    height:32px;
    width:32px;
    border-radius: 50%;
    float:left;
}

.grouphint{
    background-color: #00000000;
    font-size: 25px;
    text-align: center;
    color:#333;
}

.boxmsg{
    padding: 8px;
}