.cbuttons
{
    margin: 10px;
    padding: 0 20px;
    font-size: 16px;
    height: 36px;
    background-color: #d8d8d8;
    color: #777777;
    border-radius: 3px;
    border: none;
    box-shadow: #888 1px 1px 1px;
}


.cbuttons:hover{
    box-shadow: #666 2px 2px 1px;
    filter: brightness(120%);
}

.hcbuttons
{
    background-color:#008e18;
    color: #ffffff;
}

.sidebuttons
{
    height:50px;
    background-color: #ffffffff;
    margin: 5px;
    background-color: #fff;
    padding: 3px;
    border-radius: 5px;
    box-shadow: #777 1px 1px 2px;
}

.sidebuttons:hover{
    filter:brightness(95%);
}

.sidebuttons_c
{
    background-color: #eeeeeeee;
}

.usersnote{
    width:100%;
}

.sendbtn{
    background-color: #1daa35;
    color:#ffffff;
}

.iconicbtn{
    height: 30px;
    width: 30px;
    font-family: 'Material';
    font-size: 15px;
    color: #008e18;
    background-color: #ffffff01;
    border-style: none;
    border-radius: 50%;
}

.iconicbtn:hover{
    background-color: #00000022;
}

.iconicbtn_big{
    height: 40px;
    width: 40px;
    font-family: 'Material';
    font-size: 15px;
    border-style: none;
    border-radius: 50%;
    margin:3px;
    box-shadow: #888 1px 1px 1px;
}

.iconicbtn_big:hover{
    box-shadow: #666 2px 2px 1px;
    filter: brightness(120%);
}

.iconicbtn_big_common{
    color: #333333;
    background-color: #eeeeee;
}

.iconicbtn_small{
    height: 18px;
    width: 18px;
    font-family: 'Material';
    font-size: 15px;
    color: #008e18;
    background-color: #ffffff01;
    border-style: none;
    border-radius: 50%;
}
.iconicbtn_small:hover{
    background-color: #00000022;
}

.hidbutton{
    margin: 0px 0px 0px 5px;
    background-color: #00000001;
    border-style: none;
    font-size: 13px;
    color: #008e18;
    height: 90%;
}

.hidbutton_disable{
    color: #333333;
}

.unreadcnt{
    color: #ee4444;
    text-align: center;
    font-size: 8px;
}

.groupbtn_lbl{
    text-align: center;
}

.sendbtn_disabled{
    filter: saturate(0%);
}

.sendbtn_disabled:hover{
    filter: saturate(0%);
}

