.popup_window{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    padding: 20px;
    background-color: white;
    z-index: 1002;
    overflow: auto;
    box-shadow: 0px 0px 5px 1px #888888;
    border-radius: 10px;
}

.popup_esc_btn{
    top: -15px;
    left: -15px;
    position: relative;
    height: 20px;
    width: 20px;
    font-family: 'Material';
    font-size: 15px;
    color: #008e18;
    background-color: #00000000;
    border-style: none;
    float: right;
    border-radius: 50%;
}

.popup_esc_btn:hover{
    background-color: #00000022;
}

.gadd_li{
    padding: 3px;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-color: #999;
    background-color: #ffffff00;
    width: auto;
}

.gadd_li_dable{
    color: #666;
}