.popup_window{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    padding: 20px;
    background-color: white;
    z-index: 1002;
    overflow: auto;
    box-shadow: 0px 0px 5px 1px #888888;
    border-radius: 10px;
}

.popup_esc{
    top: -10px;
    left: -10px;
    position: relative;
}