.tarea{
    width:80%;
    height: 80px;
    margin-left: 8px;
    margin-right: auto;
    display:inline-block;
    outline: 0;
    border: none;
    box-shadow: #888 1px 1px 1px;
    font-size: 12px;
    line-height: 24px;
    padding: 2px;
    word-wrap: break-word;
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 5px;
    background-color: #ffffff;
}

.tarea:hover{
    box-shadow: #666 2px 2px 1px;
}
