<!DOCTYPE html>
<head>
    <meta charset="UTF8">
    <title>Sudoku Input</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/buttons.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/box.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/page.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/grid.css') }}">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body class="page">
    <div id="CenterBox" class="centerbox">
        <div id="Box" class="box">
            <div id="Msg">
                {{systemMsg|safe}}
            </div>
            <table style="border:none;margin:auto;">
                <tr>
                    <td style="background-color: #00000000;">
                        <form action="/" method="post">
                            <input type="submit" class="buttons" name="back" value="Back">
                        </form>
                    </td>
                    <td style="background-color: #00000000;">
                        <form action="/input" method="post">
                            <input type="submit" class="buttons" name="random" value="Random generate">
                        </form>
                    </td>
                    <td style="background-color: #00000000;">
                        <form action="/input" method="post">
                            <input type="submit" class="buttons" name="reset" value="Reset">
                        </form>
                    </td>
                </tr>
            </table>
            <div id="sudokubox">
                {{placeContent|safe}}
            </div>
            <form action="/input" method="post" id="sudokuUpload">
                <input type="button" class="buttons pfbuttons" name="submit" id="btnSubmit" value="Submit">
            </form>
            <script type="text/javascript" src="{{ url_for('static', filename='js/input.js') }}"></script>
        </div>
    </div>
</body>