<!DOCTYPE html>
<head>
    <meta charset="UTF8">
    <title>重置密码</title>
    <script type="text/javascript" src="/static/js/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/box.css">
    <link rel="stylesheet" type="text/css" href="static/css/buttons.css">
    <link rel="stylesheet" type="text/css" href="static/css/page.css">
    <link rel="stylesheet" type="text/css" href="static/css/tbox.css">
</head>
<body class="page">
    <div id="CenterBox" class="centerbox">
        <div id="Menu" class="menubox">
            <p class="suggest" id="suggest">{{statusMsg}}</p>
            <img src="static/img/slogan.png">
            <input type="email" class="bdtbox" id="email" value="" placeholder="Email">
            <br>
            <div class="poptwrap">
                <input type="text" value="" name="vcode" id="vcode" class="poptbox" placeholder="验证码" style="width:110px;display:inline-block;height:90%">
                <input type="button" value="发送验证码" id="sendvm" class="hidbutton" style="float:right;">
            </div>
            <table style="margin: 0px auto;">
                <tr>
                    <td><input type="button" class="cbuttons" id="resetpw" value="重置密码" disabled></td>
                    <td><input type="button" class="cbuttons" id="goback" value="返回"></td>
                </tr>
            </table>
            <script type="text/javascript" src="/static/js/cc.js"></script>
            <script type="text/javascript" src="/static/js/forgot.js"></script>
        </div>
    </div>
</body>
