<!DOCTYPE html>
<head>
    <meta charset="UTF8">
    <title>登录</title>
    <script type="text/javascript" src="/static/js/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/box.css">
    <link rel="stylesheet" type="text/css" href="static/css/buttons.css">
    <link rel="stylesheet" type="text/css" href="static/css/page.css">
    <link rel="stylesheet" type="text/css" href="static/css/tbox.css">
</head>
<body class="page">
    <div id="CenterBox" class="centerbox">
        <div id="Menu" class="menubox">
            <p class="suggest" id="suggest">{{statusMsg}}</p>
            <img src="static/img/slogan.png">
            <input type="text" class="bdtbox" id="username" value="" placeholder="用户名">
            <br>
            <input type="password" class="bdtbox" id="passwd" value="" placeholder="密码">
            <br>
            <table style="margin: 0px auto;">
                <tr>
                    <td><input type="button" class="cbuttons hcbuttons" id="login" value="登录"></td>
                    <td><input type="button" class="cbuttons" id="reg" value="注册"></td>
                </tr>
            </table>
            <a id="forgot" style="text-decoration:underline;color:#66dd66">忘记密码?</a>
            <script type="text/javascript" src="/static/js/cc.js"></script>
            <script type="text/javascript" src="/static/js/login.js"></script>
        </div>
    </div>
</body>
